.form-control {
    border: 1px solid #ccc; /* Цвет границы */
    border-radius: 4px; /* Закругление углов */
  }
  
  .btn-primary {
    background-color: #007bff; /* Основной цвет кнопки */
    border: none; /* Без границы */
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .row {
    margin-bottom: 10px;
  }

  .input-field {
    width: 100%;
  }
  
  .col {
    padding: 10px; 
    background-color: #e9ecef;
    border-radius: 4px;
  }

  .edit-btn {
    margin-left: 3px;
  }